@import '../../variables/variables.scss';

h1 {
  text-align: center;
}

h2 {
  color: #333333;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    margin: 1.2rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    input {
      width: 15rem;
      padding: 0.3rem;
      color: $input-color;
    }

    label {
      margin: 1rem 0 0.5rem;
      color: #787878;
      font-size: 15px;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
      margin-top: 1rem;
      border: none;

      &:nth-child(2) {
        border-left: 2px solid $color-primary;
        padding-left: 2rem;
      }

      legend {
        color: #3f3b3c;
        margin-bottom: -1rem;
      }
    }

    button.submit-form {
      margin: 1.5rem 8rem 0;
    }
  }
}

.form-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.department-content {
  > div {
    margin-top: 0.5rem;
    width: 15rem;
  }
}
