@import '../../variables/variables.scss';

.comp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px 10px;
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    $color-primary 35%,
    #4b5b0b 100%
  );

  img {
    width: 90px;
    object-fit: contain;
    border-radius: 5px;
    height: 75px;
  }

  nav.navbar {
    font-size: 24px;

    a {
      color: $white;
      margin: 10px;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
