@import '../../variables/variables.scss';

.search-select {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem;
}

.pagination {
  padding-top: 0.755em;
  display: flex;
  justify-content: space-between;

  &-btn {
    .first-page,
    .last-page {
      font-size: 18px;
      border: none;
      background: none;
    }

    .first-page {
      margin-right: 5px;

      &:hover::before {
        content: 'Go to the first page';
        font-size: 12px;
      }
    }

    .last-page {
      margin-left: 5px;

      &:hover::after {
        content: 'Go to the last page';
        font-size: 12px;
      }
    }
  }
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  .sort-icon {
    color: #7a80dd;
  }

  tr {
    &:nth-child(even) {
      background-color: #97b71f;
    }

    &:hover {
      background-color: #ddd;
    }

    td {
      font-size: 15px;
      color: #1f1f1f;
    }
  }

  td,
  th {
    border: 1px solid #3b3838;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #86a80a;
    color: $black;
  }
}
