@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import './variables/variables.scss';
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

#root {
  position: relative;
}

.btn-primary {
  background-image: none;
  background-color: $color-secondary;
  color: $white;
  padding: 0.7em 2em;
  border-radius: 50px;
  text-align: center;
  font-weight: 600;
  line-height: 17.25px;
  border: 0;
  margin-top: 1rem;
  box-shadow: 0px 7px 9px -6px $black;

  &:hover {
    background-image: none;
    background-color: $color-primary;
  }
}

.btn-secondary {
  background-image: none;
  //background-color: $intermediate-green;
  background-color: #87a31a;
  color: $black;
  padding: 0.2em 2em;
  border-radius: 6px;
  text-align: center;
  line-height: 17.25px;
  border: 0;
  box-shadow: 0px 7px 9px -6px $black;

  &:hover {
    background-image: none;
    background-color: $color-primary;
  }
}
